<!DOCTYPE html> 
  <html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
  <meta charset="UTF-8">
  <title>Capgemini Idea Colloboration</title>
  <link rel="stylesheet" href="./assets/css/login-style.css">
</head>

<body>
  <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name" autofocus="autofocus"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <input type="submit" value="Create"/>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form th:action="@{/login}" method="post" class="login-form">
      <input type="text" name="username" placeholder="username" autofocus="autofocus"/>
      <input type="password" name="password" placeholder="password"/>
      <input type="submit" value="Sign In"/>
      <!-- <button>login</button> -->
      <p class="message">Not registered? <a href="#">Create an account</a></p>
      <div th:if="${param.error}" style="color:red">
            Invalid username and password.
  </div>
  <div th:if="${param.logout}">
            You have been logged out.
  </div>
    </form>
  </div>
</div>
  <script src='./assets/js/jquery.min.js'></script>

    <script src="./assets/js/loginJS.js"></script>

</body>
</html>
